.profile-container {
    padding: 0 5%;
    text-align: center;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1.5rem;
}

.top-header h2 {
    font-size: 2rem;
    color: brown;
    text-shadow: 2px 2px 4px #fc7c02;
   margin: 0;
}

.top-header .profile-icon-wrapper {
    position: absolute;
    right: 0;
}

.profile-card {
    background-color: antiquewhite;

    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    margin: 0 auto;
}

.profile-info {
    margin-top: 1rem;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 1rem;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #aaa;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: brown;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus-icon {
    color: white;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
}
